*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Quicksand;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.right_thead {
    width: 570px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    /*background-color: #0f7bff;*/
}
.section{
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.thead{
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 25px;
}
.sign_up{
    border-radius: 25px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    color: #ffffff;


    font-size: 16px;
    font-weight: 700;
}

.min_section{
    width: 100%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.href{
    text-decoration: none;
}
.white{

    color: white;

}
.AppSon{

    font-weight: 700;
    font-size: 35px;
    color: #0f7bff;
    margin: 0;
}
.one_section{
    width: 100%;
    margin: 25px 0 0 2px;
}
.Best_desktop{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cont_Best_desktop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}
.a_btn{
    width: 165px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #0f7bff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.a-btn-1{
    background-color: #0f7bff;
}
.blue{

    color: #0f7bff;
    font-size: 16px;
    line-height: 27px;
}
.best_img{
    width: 50%;
    background-color: darkgray;
}
.two_sect_2{
    width: 50%;
    background-color: darkgray;
}

.best_title{

    font-size: 36px;
    line-height: 24px;
    font-weight: bold;
    color: #333333;
}
.text{
    max-width: 440px;
}
.text_2, .text{

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #929292;
}
.text_3{
    height: 80px;
}

#one_main{
    padding: 250px 0 150px;
    width: 100%;
    background-image: url("../images/Shape 1.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sect_button{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.two_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}
.two_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5fcfd;
}
.two_sect_center{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.medium{

    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #333333;
}
.three_section{
    width: inherit;
    height: 1095px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url("../images/3-layers.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.action{
    padding: 20px;
    transition:all 0.5s;
    width:calc((100% - 40px) / 3);
    border-radius: 5px;
     /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 1px #8888883b;
    margin-bottom: 20px;
}
.action:not(:nth-child(3n+3)){
    margin-right: 20px;
}
.action:hover{
    transform: translateY(-10px);

    margin-bottom: 12px;
    border-bottom: 8px solid #0f7bff;
}
.action_title{
    color: #333333;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
}
.action_text{
    color: #929292;

    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 10px;
}
.three_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.min_section_3{


    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.features{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    align-items: center;
}
.four_section{
    width: 100%;
    background-color: #f5fcfd;
    background-image:url("../images/4-layers.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.four_p{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;

    font-size: 30px;
    font-weight: 500;
    line-height: 27px;

}
.four_content{
    width: 50%;

    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
    align-items: center;
}
.four_content_2{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center
}
.title_2{

}
.cont_1{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#cont_1{
    margin-bottom: 20px;
}
#top_action{
    /*margin-bottom: 20px;*/
}

div[class="action"] > div{
    width: 70px;
    height: 70px;
    background-color: #dfedff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#action_icon-1{
    /*image:url("../images/Forma_1.png") ;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
}
.four_title{


    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;
}
.four_title-2{


    display: flex;
    justify-content: space-between;
}
.four_user{
    color: #333333;

    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
}
.four_text{

    color: #929292;

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.four_title-2_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

p[class="four_p"] > a{
    color: #ffffff;

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.layers_5{
    display: flex;
    align-items: center;
    width: inherit;

    background-color: #ffffff;
    background-image:url("../images/5-layers.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Screnshots{
    display: flex;
    height: 472px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Screnshots_title{
    text-align: center;
    margin-top: 14px;
    color: #333333;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
}
.Screnshots_figcaption{
    text-align: center;
    color: #929292;

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.scroll-top {
    scroll-behavior: smooth;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.Pagination{
    display: flex;
    flex-direction: row;
}
.container_screnshot_img{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 315px;
}


.owl-item:hover{
    width: 300px !important;
    transform: translateY(-27%);
}
.owl-stage-outer{
    padding: 100px 0 0 0;
}
.owl-stage {
    display: flex;
}
div[class="Pagination"]>div{
    margin: 0 5px 0 5px;
    width: 20px;
    height: 10px;
    border-radius: 5px;
    background-color: #d4d4d4;
}
.owl-item{

}
div[class="Pagination"]>div:hover{
    width: 30px;
    background-color: #0f7bff;
}

/*.pricing{*/
/*    background-color: #f5fcfd;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-image: url("../images/51-layers.png");*/
/*}*/

/*.pricing_content{*/
/*    border: 2px solid red;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/
/*.pricing_column{*/
/*    height: 576px;*/
/*    box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);*/
/*    border-radius: 5px;*/
/*    background-color: #ffffff;;*/
/*}*/
/*.pricing_column:first-child{*/
/*    width: 360px;*/
/*    height: 246px;*/
/*    border: 1px solid green;*/
/*    background-color: #f5fcfd;*/
/*    transform: translate(391px, 150px);*/
/*}*/
.d_flex{
    display: flex;
}
.f_wrap{
    flex-wrap: wrap;
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 960px;
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 720px;
    }
}
@media all and (min-width: 576px) and (max-width: 767px) {
    .container{
        width: 540px;
    }
}
@media all and (max-width: 575px) {
    .container{
        width: 100%;
    }
}

