* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Quicksand_Regular;
}

li {
    list-style-type: none;
}

.menu__mobile {
    display: flex;
    flex-direction: column-reverse;
    height: 200px;
    justify-content: space-between;

}

.none {
    display: none;
}

.menu__btn__mobile {
    position: absolute;
    transform: translateX(609px);
    display: none;
}

.f_medium {
    font-family: 'Quicksand-medium';
}

.d_flex {
    display: flex;
}

.f_wrap {
    flex-wrap: wrap;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.align_start {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.justify_between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.justify_between_column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.justify_evenly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.justify_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_thead {
    width: 570px;
    align-items: center;
}

.thead {
    width: 90%;
    position: absolute;
    top: 50px;
    z-index: 1000;
    left: 0;
    right: 0;


}

.sign_up {
    border-radius: 25px;
    border: 2px solid #ffffff;
    width: 165px;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    font-family: Quicksand_bold;
}

.min_section {
    width: 100%;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
}

.white {

    color: white;

}

.AppSon {
    font-family: Quicksand_bold;
    font-weight: 700;
    font-size: 35px;
    color: #0f7bff;
    margin: 0;
}

.best_section {
    width: 100%;
}

.Best_desktop {
    width: 50%;
    height: 300px;
    padding-right: 30px;
}

.cont_Best_desktop {
    height: 394px;
}

.Best_desktop_btn {
    width: 165px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #0f7bff;
    font-size: 16px;
    font-weight: bold;
}

.Best_desktop_btn-1 {
    background-color: #0f7bff;
}

.blue {
    font-family: Quicksand_bold;
    color: #0f7bff;
    font-size: 16px;
    line-height: 27px;
}

.best_img {
    width: 50%;
    min-height: 394px;
    background-image: url("../images/page_images/iStock-944453634.jpg");

}

.screnshot_img {
    width: 420px;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
}

.blog__posts__2__img,
.blog__posts__1__img,
.Testimonials, #one_main,
.two_sect_1, .two_sect_2, .best_img {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% auto;
}

.best_img > img {
    max-width: 652px;
    max-height: 394px;
}

.two_sect_1 {
    width: 50%;
    background-image: url("../images/page_images/web-img-13.jpg");
}

.two_sect_2 {
    width: 50%;
    background-image: url("../images/page_images/images (1).jpg");
}

.best_title {
    font-size: 36px;
    line-height: 24px;
    font-weight: bold;
    color: #333333;
}

.text {
    max-width: 440px;
}

.text_2, .text {
    font-family: Quicksand_Regular;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
}

.features_text {
    height: 80px;
    max-width: 735px;
    margin-top: 33px;
}

#one_main {
    padding: 253px 0 153px;
    width: 100%;
    background-image: url("../images/page_images/Shape 1.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sect_button {
    width: 360px;
}

.two_content {
    width: 50%;
    padding-left: 30px;
    height: 300px;
}

.section_blue {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5fcfd;
}

.cont_center {
    width: 100%;
    max-width: 1140px;
}

.two_sect_center {
    height: 990px;
}

.App_Features {
    max-height: 1095px;
    height: 1095px;
}

.action {
    padding: 20px;
    transition: all 0.5s;
    width: calc((100% - 40px) / 3);
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 0 20px 1px #8888883b;
    margin-bottom: 20px;
}

.action:not(:nth-child(3n+3)) {
    margin-right: 20px;
}

.action:hover {
    transform: translateY(-10px);

    margin-bottom: 12px;
    border-bottom: 8px solid #0f7bff;
}

.action_title {
    color: #333333;
    margin: 10px 0;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.action_text {
    color: #929292;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 10px;
}

.three_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.min_section_3 {
    flex-wrap: wrap;
    align-items: flex-end;
}

.features {
    text-align: center;
    z-index: 2;
}

.after:before {
    content: url(../images/page_images/after_img.png);
    transform: translate(42px, -14px);
    position: absolute;
    z-index: -1;
}

.four_section {
    width: 100%;
    background-color: #f5fcfd;
    background-image: url("../images/page_images/4-layers.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.four_p {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 500;
    line-height: 27px;

}

.four_content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.four_content_2 {
    width: 50%;
}

div[class="action"] > div {
    width: 70px;
    height: 70px;
    background-color: #dfedff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.four_title {
    margin-right: 20px;
}

.four_title-2 {
    display: flex;
    justify-content: space-between;
}

.Screnshots_title,
.pricing_title, .pricing_price,
.medium {
    font-family: 'Quicksand-medium';
    font-size: 32px;
    line-height: 36px;
}

.Screnshots_title,
.pricing_title, .medium {
    color: #333333;
}

.Screnshots_figcaption,
.pricing_text, .pricing__txt,
.footer-list > li > a {
    color: #929292;
    font-size: 16px;
    line-height: 27px;
}

.four_title-2_column {
    align-items: center;
    margin-left: 80px;
}

p[class="four_p"] > a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.Screnshots {
    display: flex;
    align-items: center;
    width: inherit;
    background-color: #ffffff;
    padding: 130px 0;
}

.Screnshots_title {
    text-align: center;
    position: relative;
    z-index: 1;
}

.Screnshots_figcaption {
    max-width: 735px;
    text-align: center;
    margin-top: 30px;

}

.scroll-top {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background-color: #0f7bff;
    scroll-behavior: smooth;
    position: fixed;
    right: 30px;
    bottom: 27px;
}

.footer_bottom {
    padding: 40px 0;
}

.container_screnshot_img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 315px;
}

.owl-item:hover {
    width: 300px !important;
    transform: translateY(-27%);
    /*transform: scale(1.5);*/
}

.owl-item:hover img {
    height: 328px;
    transition: all 0.3s;

}

.owl-nav {
    display: none;
}

.owl-stage-outer {
    padding: 100px 0 0 0;
}

.owl-stage {
    display: flex;
}

.owl-item {
    transition: all 0.3s;
    border-radius: 5px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #0f7bff;


}

.owl-theme .owl-dots .owl-dot span {
    display: none;
}

.owl-carousel button.owl-dot {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #d4d4d4;
}

.owl-carousel button.owl-dot.active {
    width: 30px;
    background-color: #0f7bff;
    color: #0f7bff;
}

.owl-carousel button.owl-dot:focus {
    outline: none;
}

.Pricing {
    background-color: #f5fcfd;
}

.Pricing_contents {
    width: calc((100% - 60px) / 3);
    box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    min-height: 570px;
}

.Pricing_plan_contents {
    width: calc((100% - 60px) / 3);
    border-radius: 5px;
    min-height: 240px;
}

.pricing_text {
    max-width: 330px;
}

.pricing_btn {
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-radius: 25px;
}


.pricing_btn_all {
    width: 50%;
    height: 100%;

}

.pricing_btn_blue {
    border-radius: 25px 0 0 25px;
    background-color: #0f7bff;
}

.pricing_btn_blue > a {
    font-family: Quicksand_bold;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
}

.pricing_btn_white > a {
    font-family: Quicksand_bold;
    font-size: 16px;
    line-height: 27px;
    color: #0f7bff;
}

.pricing_btn_white {
    border-radius: 0 25px 25px 0;
    border: 2px solid #0f7bff;
}

.pricing_standart {
    font-size: 18px;
    line-height: 27px;
}

.pricing__btn__1 {
    width: 165px;
    height: 50px;
    border-radius: 25px;
    background-color: #0f7bff;
}

.pricing__btn__1 {
    font-family: Quicksand_bold;
    font-size: 16px;
    line-height: 27px;
}

.pric_txt_all {
    border-top: 1px solid #e0e0e0;
    min-height: 230px;
}

.border_blue {
    width: 165px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #0f7bff;
}

.Testimonials {
    padding: 130px 0;
    background-image: url("../images/page_images/2_la.png");
}

.Testimonials__content {
    width: 50%;
    min-height: 540px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.Testimonials__content__customer {
    color: #929292;
    font-size: 14px;
    line-height: 27px;
}

.Testimonials__content2_img {
    max-width: 33px;
}

.Testimonials__pagination {
    max-width: 158px;
}

.Testimonials__content_2 {
    min-height: 295px;
}

.Testimonials__pagination > a {
    min-width: 65px;
    min-height: 30px;
    border-radius: 3px;
    border: 1px solid #0f7bff;
}

.Testimonials__content > img:nth-child(3) {
    width: 328px;
    height: 328px;
    transform: translate(26px, -93px);
}

.Testimonials__content > img:nth-child(4) {
    transform: translate(60px, 95px);
}

.Testimonials__content > img:nth-child(2) {
    transform: translate(-120px, 175px);
}

.Testimonials__content > img:nth-child(1) {
    transform: translate(-181px, -14px);
}

.Testimonials__content > img:not(:nth-child(3)) {
    width: 164px;
    height: 164px;
}

.Testimonials__content > img {
    background-color: #b7b7b7;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.blog {
    min-height: 750px;
}
.w_50{
    width: 50%;
}
.blog__posts {

    min-height: 478px;
}

.blog__posts_2 {
    max-height: 440px;
}

.blog__posts__1__img {
    max-width: 555px;
    height: 285px;
    background-image: url("../images/page_images/1concept.jpg");
}

.blog__posts__2__img {
    max-width: 165px;
    width: 165px;
    height: 128px;
}

.blog__posts__2__img1 {
    background-image: url("../images/page_images/Starting-Business-img.jpg");
}

.blog__posts__2__img2 {
    background-image: url("../images/page_images/top-bs-img-2.jpg");
}

.blog__posts__2__img3 {
    background-image: url("../images/page_images/cd656caf.jpg");
}

.blog__posts__figcaption {
    max-width: 340px;
    min-height: 114px;
}

.blog__posts__figcaption > h4 {
    color: #333333;
    font-family: Quicksand-medium;
    font-size: 18px;
    line-height: 28px;
}

.blog__posts_figure {
    justify-content: space-evenly;
}

.blog__posts__1__title {
    max-width: 490px;
    color: #0f7bff;
    font-family: 'Quicksand_medium';
    font-size: 24px;
    line-height: 36px;
}

.blog__title {
    min-height: 126px;
    margin-bottom: 47px;
    z-index: 2;
}

.blog__txt:before {
    transform: translate(106px, -14px);
}

.blog__footer {
    width: 15px;
    height: 11px;
}

.Free_Trial {
    padding: 130px 0;
    border-bottom: 1px solid #dcdcdc;
}

.Free_Trial_center {
    width: 750px;
}

.Free_Trial__btn {
    width: 260px;
    height: 76px;
    border-radius: 5px;
    background-color: #0f7bff;
}

.Free_Trial__days {
    min-height: 76px;
}

.logo {
    width: 1000px;
    height: 160px;
}

.logo__container2 {
    width: 460px;
}

.logo__container2_blog2 > ul {
    height: 110px;
}

.logo__container2_blog2 > ul:nth-child(2) {
    height: 75px;
}

.pricing_price,
.footer_bottom__link > a:hover,
.footer-list > li > a:hover,
.footer-list > li > a.active {
    color: #0f7bff;
}

.logo__container2_blog1 {
    height: 135px;
}

.footer_bottom__link {
    width: 348px;
}

.socialite {
    transform: translate(-460px, 165px);
    position: absolute;
    width: 78px;
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    #menu__mobile {
        display: none;
    }

    #one_main {
        background-size: contain;
    }

    .thead > ul {
        width: 530px;
        align-items: baseline;
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 960px;
    }

    .Screnshots {
        padding: 20px 20px 0;
    }

    .right_thead {
        display: flex;
        width: 530px;
    }

    .footer_bottom > div {
        width: 800px;
    }

    .min_section {
        flex-direction: column;
        align-items: center;
    }

    .background {
        padding: 0;
    }

    .Best_desktop_btn {
        width: 135px;
    }

    .screnshot_img {
        width: 380px;
        height: 220px;
    }
}


@media all and (min-width: 1201px) and (max-width: 2000px) {
    .two_sect_center {
        height: 800px;
    }

    .thead > ul {
        width: 570px;
        align-items: baseline;
        display: flex;
        flex-direction: row;
    }
}

@media all and (min-width: 769px) and (max-width: 1100px) {
    .blog__posts {
        width: 45%;
        margin-bottom: 30px;
    }
    .blog {
        align-items: flex-end;
    }
    .Screnshots {
        padding: 20px 20px 30px;
    }

    #one_main {
        padding: 140px 0 90px;
        background-size: contain;
    }


    .Best_desktop_btn {
        width: 135px;
    }
}


@media all and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 90%;
    }
    .Free_Trial_center {
        width: auto;
    }
    .blog {
        align-items: flex-end;
    }
    #one_main {
        padding: 130px 0 40px;
    }
    .blog__posts__2__img {
        height: 60px;
    }
    .logo {
        padding: 0 35px;
        width: 100%;
        height: 260px;
        flex-direction: column;
        align-items: center;
    }
    .owl-item:hover img {
        height: 275px;
    }

    .menu__btn__mobile {
        display: flex;
        transform: translateX(500px);
    }

    .Screnshots {
        padding: 20px 20px 30px;
    }

    .right_thead {
        display: none;
        width: 410px;
    }

    .sign_up {
        width: 110px;
        height: 40px;
    }

    .logo__container2 {
        width: 400px;
    }

    .footer_bottom > div {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .min_section {
        flex-direction: column;
        align-items: center;
    }

    .background {
        padding: 0;
    }

    .best_title {
        font-size: 25px;
    }

    .cont_Best_desktop > p {
        max-width: 270px;
    }

    .sect_button {
        width: 290px;
    }

    .Best_desktop_btn {
        width: 135px;
    }

    .screnshot_img {
        width: 350px;
        height: 200px;
    }
}

@media all and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 90%;
    }
    .Testimonials__content > img:not(:nth-child(3)) {
       display: none;
    }
    .Testimonials__content > img:nth-child(3) {
        width: 300px;
        height: 300px;
        transform: translate(-0, -93px);
    }
    #one_main {
        padding: 130px 0 40px;
    }

    .blog__posts__2__img {
        height: 60px;
    }
    .logo {
        padding: 0 35px;
        width: 100%;
        height: 260px;
        flex-direction: column;
    }

    .thead > ul {
        display: none;
    }

    .owl-item:hover img {
        height: 275px;
    }

    .menu__btn__mobile {
        display: flex;
        transform: translateX(320px);
    }

    .Screnshots {
        padding: 20px 20px 30px;
    }

    .thead > ul {
        display: none;
    }

    .footer_bottom > div {
        width: 100%;
    }

    .min_section {
        flex-direction: column;
        align-items: center;
    }

    .background {
        padding: 0;
    }

    .best_title {
        font-size: 25px;
    }

    .cont_Best_desktop > p {
        max-width: 270px;
    }

    .sect_button {
        width: 290px;
    }

    .Best_desktop_btn {
        width: 135px;
    }

    .screnshot_img {
        width: 300px;
        height: 170px;
    }
}


@media all and (max-width: 575px) {
    .thead > ul {
        display: none;
    }
    .blog__posts_figure {
        margin: 20px 0;
    }.blog__posts__2__img {
             margin-right: 20px;
         }
    .Free_Trial_center{
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .Free_Trial {
        padding: 30px 0;
    }
    .logo {
        width: auto;
        height: auto;
    }

    .logo__container2 , .logo{
    flex-direction: column;
    align-items: center;
}
    .text {
        max-width: 340px;
    }
    .logo__container2 ,.w_50{
        width: 100%;
    }
    .logo__container2_blog2 > ul:nth-child(2) {
        height: auto;
    }
    .Testimonials {
        padding: 30px 0;
    }
    .pricing_standart {
        margin: 20px 0;

    }
    .blog__content{
        flex-direction: column;
        align-items: center;
    }
    .medium {
        font-size: 24px;
        line-height: 27px;
    }
    .Testimonials__content > img:nth-child(3) {
        width: 200px;
        height: 200px;
        transform: translate(0, 0);
    }
    .Testimonials__content {
        width: 100%;
        min-height: 300px;
    }
    .Testimonials__content_center, .Pricing__content{
        flex-direction: column;
        align-items: center;
    }
    .Testimonials__content > img:not(:nth-child(3)) {
       display: none;
    }

    .Pricing_contents,.Pricing_plan_contents ,.action {
        width: calc((100% - 40px) / 1);
    }
    .Pricing_contents{
        margin: 30px 0;
    }
    .App_Features {
        min-height: 1875px;
    }
    .four_content {
        width: 100%;
    }
    .four_title-2_column {
        margin: 30px;
    }
    .four_content_center{
        flex-direction: column;
        align-items: center;
    }
    .four_section {
        padding: 50px 0;
    }
    .four_p {
        color: black;
    }
    p[class="four_p"] > a {
        color: black;
        font-size: 16px;
    }
    .messaging_container {
        flex-direction: column;
        align-items: center;
    }
    .keep_in_container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .two_sect_center {
        height: 800px;
    }
    .features_text {
         height: auto;
        max-width: 300px;
        margin-top: 33px;
    }
    .two_sect_1 {
        min-height: 100px;
    }
    .two_content {
        width: 100%;
        padding: 0;
    }
    .two_sect_2{
        min-height: 100px;
    }
    .Best_desktop {
         width: auto;
         height: auto;
         padding: 0;
    }
    .socialite {
        transform: translate(0, 0);
    }


    .Screnshots {
        padding: 20px 20px 30px;
    }

    .container {
        width: 90%;
    }

    .footer_bottom > div {
        width: 100%;
        flex-direction: column;
    }
    .footer_bottom__link {
        width: 310px;
        margin-top: 20px;
    }

    .min_section {
        flex-direction: column;
        align-items: center;
    }

    .background {
        padding: 0;
    }

    .best_title {
        font-size: 25px;
    }

    .cont_Best_desktop > p {
        max-width: 270px;
    }

    .sect_button {
        width: 290px;
    }

    .Best_desktop_btn {
        width: 135px;
    }

    .screnshot_img {
        width: 300px;
        height: 170px;
    }
    #one_main{
        padding: 100px 0 30px
    }
    .best_img {
        min-height: 103px;
    }
    .menu__btn__mobile {
        display: block;
        transform: translateX(245px);
    }
    .AppSon {
        font-size: 27px;
    }
    .sign_up {
        width: 100px;
        height: 36px;
    }

}


@media all and (min-width: 768px) and (max-width: 1139px) {
    .thead{
        padding: 0 30px;
    }
    .blog__content{
        flex-direction: column;
        align-items: center;
    }
    .best_img{
        background-size: cover;
        min-height: 200px;
    }
    .blog__posts__2__img {
        background-size: 100% 100%;
        margin-right: 20px;
    }
   .Testimonials{
                padding: 0;
            }
    .Testimonials__content > img:nth-child(3) {
                 width: 270px;
                 height: 270px;
                 transform: translate(0, 0);
             }
    .Testimonials__content > img:not(:nth-child(3)) {
                 width: 100px;
                 height: 100px;
        display: none;
             }
    .Testimonials__content > img:nth-child(1) {
                 transform: translate(-235px, -66px);
             }
    .Testimonials__content > img:nth-child(2) {
                 transform: translate(-200px, 42px);
             }
    .Testimonials__content > img:nth-child(4) {
                 transform: translate(-58px, -38px);
             }
    .Testimonials__content {
        min-height: 400px;
    }

    .Testimonials__content_2 {
        padding: 0 30px 0 0;
    }

    .Free_Trial, .footer_bottom {
        padding: 40px 30px;
    }

    .Free_Trial_center {
        width: 100%;
        flex-direction: column;
    }
    .Free_Trial__days {
        min-height: 76px;
        align-items: center;
    }

    .App_Features {
        height: 950px;
    }

    .min_section {
        width: 90%;
        flex-direction: column-reverse;
    }
    .pricing_btn {
        width: 100%;
    }
    .logo__container2_blog1 {
        align-items: center;
    }
    .blog__posts_figure {
        padding: 15px 0;
    }
    .blog__title{
        width: 100%;
    }

}
